<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PixelTrice</title>
  <meta charset="utf-8">
 <!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
</head>
<body>
<br>
<h1 class="text-center">order details
<a href="/buyer" class="btn btn-danger text-right">Go Home</a>
 
</h1>
<br><br>

<table id="example" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                
               
               
            
                <th>serial  no</th>
                 <th>Productname</th>
                <th>Productid</th>
                <th>order datetime</th>
                <th>Departstatus</th>
                <th>Dliveredstatus</th>
                <th>Departdate</th>
                 <th>Current location</th>
                  
                 
                  <th>Amount</th>
                <!--   <th>viewt</th>
           <!--     <th>Created date</th>-->
                
                
            </tr>
        </thead>
        <tbody th:with="count=0">
        <tr th:each = "Order, hh : ${orders}">           
                <td th:with="count=${count + 1}" th:text="${count}"></td>
                
                
           <!--private int pid;
private int productid;
private String adress;
private String shippingadress;
private String email;
private long phonenumber;
private String status;
private double totalamountperitem
private String departstatus;
private String deliverstatus;
private String currentadress

private Date orderedDate;
private Date departdate;
private Date delivereddate;
;-->
                <td th:text="${Order.productname}"></td>
                <td th:text="${Order.productid}"></td>
               
                
      <!--     <td><img th:src="@{${'/display/'+ OwnerConfirmOrder.id+'/'+shopid}}" 
       class="card img-fluid" style="width:300px" alt=""/></td>-->
            
            
                 <td th:text="${#dates.format({Order.orderedDate}, 'dd-MM-yyyy HH:mm')}"/></td>
                 <td th:text="${Order.departstatus}"  style="color:blue;"></td>
                 <td th:text="${Order.deliverstatus}"  style="color:blue;"></td>
                  <td th:text="${#dates.format({Order.departdate}, 'dd-MM-yyyy HH:mm')}"/></td>
                  <td th:text="${Order.currentadress}"  style="color:blue;"></td>
                
                  <td th:text="${Order.totalamountperitem}"  style="color:green;"></td>
                  
                  
                
                <!--
              
                 <td><a th:href="@{/vieworderdetails/{orderid}(orderid=${Order.id})}" class="btn btn-info text-right" target="_self">View</a>
              -->
               
              
              
            </tr>
        </tbody>
    </table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#example').DataTable();
	    
	    var name = $("#name").val();
	} );
	</script>
</body>
</html>
